@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;800&display=swap');

$main-font: 'Poppins', sans-serif;
$bootstrap-dark: #343a40;

body {
  font-family: $main-font;
}

.buttons {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  & > button {
    margin: 5px;
    color: $bootstrap-dark;
    font-size: 18px;
    padding: 5px 10px;
    &:hover {
      background-color: $bootstrap-dark;
      color: white;
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  & > .aside {
    height: 100vh;
    width: 20vw;
    border: 1px solid $bootstrap-dark;
    padding: 20px;
  }
  & > .map {
    height: 100vh;
    width: 80vw;
    border: 1px solid $bootstrap-dark;
    padding: 20px;
  }
}
.navbar {
  // first number is left/right second number top/bottom third is blur
  box-shadow: 0 0 10px;
  & > .navbar-brand {
    font-size: 30px;
    letter-spacing: 1px;
  }
  & > #navbarNav > .navbar-nav {
    & > li {
      width: 100%;
      padding: 10px 10px;
      color: white;
      font-size: 18px;
      &:hover {
        background-color: white;
        color: $bootstrap-dark;
      }
    }
    & > .active {
      color: gray;
    }
  }
  & > button:focus {
    outline: 1px solid white;
  }
}

.pointer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #navbarNav {
    display: flex;
    justify-content: flex-end;
    & > .navbar-nav {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      width: 50%;
      & > li {
        border-left: 1px solid white;
      }
    }
  }
}
